/*<!--21561122_최승진-->*/
#wrapper {
margin: auto;
padding: 0px;
padding-top: 0px;
}
h2 {
font-family: 'Prata', serif;
font-weight: bold;
font-size: 40px;
text-decoration: none;
margin-bottom: auto;
background: #ffffff;
color: transparent;
-webkit-background-clip: text;
text-align: center;
}
h3 {
font-family: 'Noto Sans KR', sans-serif;
font-weight: normal;
font-size: 15px;
color : #797979;
text-decoration : none;  
text-align: left;
margin-bottom: 80px;
text-align: center;
margin-top: 10px;
}
#conC #columns {
column-width:500px;
padding: 100px;
text-align: center;
}
#conC #columns figure {
display: inline-block;
margin-bottom: 50px;
margin-top: 10px;
padding: 20px;
text-align: center;
font-size: 18px;
font-family: 'Noto Sans KR', 'sans-serif';
position: relative;
color: white;
}
#conC #columns figure img {
width: 90%;
transition: all 0.6s;
}
#conC #columns figure img:hover {
filter: brightness(70%);
}
#conC #columns figcaption {
margin-top: 20px;
}
#figure img {
width: 100%;
transition: all 0.6s;
}
#figure img:hover {
filter: brightness(50%);
}